{% extends 'base.html.twig' %}

{% block title %}Projets{% endblock %}

{% block body %}
        <div class="container">
            <h1 class="text-white text-center mt-5 pt-5 display-2 mb-5">Mes projets réalisés</h1>
            <div class="d-flex flex-wrap justify-content-center">
                {% for project in projects %}
                   <div class="text-whit card p-5 col-lg-5 col-md-10 col-sm-12 mx-auto mt-3 text-center">
                      <div class="card-body color-h3">
                         <h3 class="card-title mb-3">{{ project.name }}</h3>
                            <h5 class="card-title mb-3 fw-light">{{ project.category.name }}</h5>
                             <p class="card-text fw-light">{{ project.description }}</p>
                             <a href="{{ project.linkGitHub }}" class="btn bg-dark text-white">Lien gitHub</a>
                             <a href="{{ project.url }}" class="btn bg-dark text-white">Lien du site</a>
                      </div>
                   </div>
                 {% endfor %}
            </div>
        </div>
{% endblock %}
